In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.tree import DecisionTreeClassifier
import warnings

In [95]:
warnings.filterwarnings("ignore")

In [6]:
data.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [2]:
data=pd.read_csv('./SampleSuperstore.csv')
data.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [4]:
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [5]:
data.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [8]:
print('Ship Mode   : ',len(data['Ship Mode'].unique()),data['Ship Mode'].unique())
print('Segment     : ',len(data['Segment'].unique()),data['Segment'].unique())
print('Country     : ',len(data['Country'].unique()),data['Country'].unique())
print('City        : ',len(data['City'].unique()))
print('State       : ',len(data['State'].unique()))
print('Region      : ',len(data['Region'].unique()),data['Region'].unique())
print('Category    : ',len(data['Category'].unique()),data['Category'].unique())
print('Sub-Category: ',len(data['Sub-Category'].unique()),data['Sub-Category'].unique())
print('Quantity      : ',len(data['Quantity'].unique()),data['Quantity'].unique())
print('Discount    : ',len(data['Discount'].unique()),data['Discount'].unique())
print('Postal Code   : ',len(data['Postal Code'].unique()))

Ship Mode   :  4 ['Second Class' 'Standard Class' 'First Class' 'Same Day']
Segment     :  3 ['Consumer' 'Corporate' 'Home Office']
Country     :  1 ['United States']
City        :  531
State       :  49
Region      :  4 ['South' 'West' 'Central' 'East']
Category    :  3 ['Furniture' 'Office Supplies' 'Technology']
Sub-Category:  17 ['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']
Quantity      :  14 [ 2  3  5  7  4  6  9  1  8 14 11 13 10 12]
Discount    :  12 [0.   0.45 0.2  0.8  0.3  0.5  0.7  0.6  0.32 0.1  0.4  0.15]
Postal Code   :  631

In [9]:
loss_Data=data[data['Profit']<0]
loss_Data['Profit']=loss_Data['Profit'].abs()

## Segment Analysis

In [97]:
SegmentAnalysis=loss_Data.groupby(['Segment'])['Profit'].agg(np.sum)
SegmentAnalysis.sort_values(ascending=False)

Segment
Consumer       84945.7112
Corporate      44787.2076
Home Office    26398.3669
Name: Profit, dtype: float64

Consumer segement faced a highest loss followed by Corporate and Home office

In [98]:
SegmentAnalysisQuantiy=loss_Data.groupby(['Segment'])['Quantity'].agg(np.sum)
SegmentAnalysisQuantiy

Segment
Consumer       3651
Corporate      2191
Home Office    1198
Name: Quantity, dtype: int64

## Segment->Region Analysis

In [17]:
SegmentRegionAnalysis=loss_Data.groupby(['Segment','Region'])['Profit'].agg(np.sum)
SegmentRegionAnalysis.sort_values(ascending=False)

Segment      Region
Consumer     Central    34630.4562
             East       27951.6490
Corporate    East       15844.2365
             Central    14275.4039
Consumer     South      12468.2534
             West        9895.3526
Corporate    South       9412.8283
Home Office  West        7570.8694
             Central     7409.0249
             East        5794.7220
             South       5623.7506
Corporate    West        5254.7389
Name: Profit, dtype: float64

1.The Major contribution for loss in Consumer segment is from the Region Central followed by East least contribution from South, West

2.The second major loss contribution for the segment corporate is from region east and central and least contribution from South and West

3.Scope of improvement is there in the region central and east for segment consumer follower corporate segment. Home office had least loss contribution compared over other segments

### Consumer->Central and Consumer->East

In [18]:
ConsumerCentralEastAnalysis=loss_Data.groupby(['Segment','Region'])
StateConsumerCentralAnalysis=ConsumerCentralEastAnalysis.get_group(('Consumer','Central'))
StateConsumerEastAnalysis=ConsumerCentralEastAnalysis.get_group(('Consumer','East'))

In [19]:
StateConsumerCentralAnalysis.groupby('State')['Profit'].agg(np.sum)

State
Illinois     8800.9287
Texas       25829.5275
Name: Profit, dtype: float64

Texas made a highest contribution followed by Illinois

In [99]:
StateConsumerEastAnalysis.groupby('State')['Profit'].agg(np.sum).sort_values(ascending=False)

State
Ohio             14140.0290
Pennsylvania     10919.9776
New York          2351.3882
Massachusetts      215.9187
West Virginia       76.9536
Maryland            71.1170
Rhode Island        60.6078
New Jersey          51.2906
Delaware            48.7839
Connecticut         15.5826
Name: Profit, dtype: float64

In the eastern region the states ohio and pennsylvania made a highest loss contribution towards consumer segment

### Corporate->East and Corporate->Central

In [21]:
CorporateCentralEastAnalysis=loss_Data.groupby(['Segment','Region'])
StateCorporateEastAnalysis=CorporateCentralEastAnalysis.get_group(('Corporate','East'))
StateCorporateCentralAnalysis=CorporateCentralEastAnalysis.get_group(('Corporate','Central'))

In [22]:
StateCorporateEastAnalysis.groupby('State')['Profit'].agg(np.sum).sort_values(ascending=False)

State
Pennsylvania     6814.4556
Ohio             6034.9007
New York         2486.4910
Massachusetts     297.6848
Rhode Island      169.5600
Delaware           37.1124
Connecticut         4.0320
Name: Profit, dtype: float64

In eastern region pennsylvania,ohio,new york contriubted the highest loss among the other states in the corporate segment

In [23]:
StateCorporateCentralAnalysis.groupby('State')['Profit'].agg(np.sum).sort_values(ascending=False)

State
Texas       8051.9075
Illinois    6223.4964
Name: Profit, dtype: float64

In central region Texas followed by illinos contriubted the highest loss among the other states in the corporate segment

### Consumer->South and Consumer->West

In [24]:
ConsumerSouthWestAnalysis=loss_Data.groupby(['Segment','Region'])
StateConsumerSouthAnalysis=ConsumerSouthWestAnalysis.get_group(('Corporate','South'))
StateConsumerWestAnalysis=ConsumerSouthWestAnalysis.get_group(('Corporate','West'))

In [25]:
StateConsumerSouthAnalysis.groupby('State')['Profit'].agg(np.sum).sort_values(ascending=False)

State
North Carolina    4798.6767
Florida           3100.8700
Tennessee         1513.2816
Name: Profit, dtype: float64

In [27]:
StateConsumerWestAnalysis.groupby('State')['Profit'].agg(np.sum).sort_values(ascending=False)

State
Arizona       2060.5244
Colorado      1311.7908
California    1218.3835
Oregon         609.5998
Washington      54.4404
Name: Profit, dtype: float64

## Segment->Region->SubCategory Analysis

In [28]:
SRSubCategory=loss_Data.groupby(['Segment','Region','State'])

### Consumer-Central Region

In [106]:
print(SRSubCategory.get_group(('Consumer','Central','Texas')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Office Supplies    18357.1559
Furniture           5580.7344
Technology          1891.6372
Name: Profit, dtype: float64

In [105]:
print(SRSubCategory.get_group(('Consumer','Central','Illinois')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          5695.2701
Office Supplies    3047.7962
Technology           57.8624
Name: Profit, dtype: float64

## Consumer-East Region

In [104]:
print(SRSubCategory.get_group(('Consumer','East','Ohio')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Technology         11758.6258
Office Supplies     1297.3970
Furniture           1084.0062
Name: Profit, dtype: float64

In [103]:
print(SRSubCategory.get_group(('Consumer','East','Pennsylvania')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          4759.6259
Office Supplies    4491.1772
Technology         1669.1745
Name: Profit, dtype: float64

In [102]:
print(SRSubCategory.get_group(('Consumer','East','New York')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture    2351.3882
Name: Profit, dtype: float64

## Corporate-East

In [101]:
print(SRSubCategory.get_group(('Corporate','East','Pennsylvania')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Technology         3475.3726
Office Supplies    1995.4220
Furniture          1343.6610
Name: Profit, dtype: float64

In [100]:
print(SRSubCategory.get_group(('Corporate','East','Ohio')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          2989.1687
Technology         2552.2512
Office Supplies     493.4808
Name: Profit, dtype: float64

## Corporate-Central

In [36]:
print(SRSubCategory.get_group(('Corporate','Central','Texas')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          3441.6757
Office Supplies    3429.3539
Technology         1180.8779
Name: Profit, dtype: float64

In [37]:
print(SRSubCategory.get_group(('Corporate','Central','Illinois')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Office Supplies    5337.9948
Furniture           884.0736
Technology            1.4280
Name: Profit, dtype: float64

## Consumer-South

In [38]:
print(SRSubCategory.get_group(('Consumer','South','North Carolina')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          3109.4769
Technology         1540.1706
Office Supplies     485.4974
Name: Profit, dtype: float64

In [39]:
print(SRSubCategory.get_group(('Consumer','South','Florida')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          1515.3607
Office Supplies    1174.8724
Technology           86.9399
Name: Profit, dtype: float64

In [40]:
print(SRSubCategory.get_group(('Consumer','South','Tennessee')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Office Supplies    3577.2047
Furniture           663.4944
Technology          315.2364
Name: Profit, dtype: float64

## Consumer-West

In [41]:
print(SRSubCategory.get_group(('Consumer','West','Arizona')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          1664.5717
Office Supplies    1148.3392
Technology           94.2153
Name: Profit, dtype: float64

In [42]:
print(SRSubCategory.get_group(('Consumer','West','Colorado')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture          2409.9564
Office Supplies     530.0310
Technology           36.3278
Name: Profit, dtype: float64

In [43]:
print(SRSubCategory.get_group(('Consumer','West','California')).groupby('Category')['Profit'].agg(np.sum).sort_values(ascending=False))

Category
Furniture     1832.4500
Technology     253.0292
Name: Profit, dtype: float64

1.Furniture and office supplying sale in the Texas and Illinois(Central) state for the consumer segment made the highest loss
2.Technology sale in ohio(Central) state for the consumer made 2nd highest loss
3.Furniture and office supply sale in pennsylvania(East) state for the consumer made 3rd highest loss
4.Technology sale in pensylvania(East) state for the corporate made 4th highest loss
5.Furniture,Technology sale in ohio(East) state for the corporate made 5th highest loss
6.Furniture sale in New Yokr(East) state for the corporate made 6th highest loss
7.Furniture,office supply sale in Texas(Central) state for the corporate made 7th highest loss
8.Office supply sale in Illinois(Central) state for the corporate made 8th highest loss

#### Which category gives the lowest sales number?

In [74]:
lowestSales=loss_Data.groupby(['Category'])['Sales']

In [76]:
print(lowestSales.get_group('Furniture').agg(np.max))
print(lowestSales.get_group('Office Supplies').agg(np.max))
print(lowestSales.get_group('Technology').agg(np.max))

4416.174
4663.736
22638.48

#### How much loss in that particular category?

In [82]:
LossInFurniture=loss_Data.groupby(['Category'])['Profit']

In [83]:
LossInFurniture.get_group('Furniture').agg(np.sum)

60936.109

#### Which segment buying the least Furniture?

In [85]:
SegmentOfficeSupplies=loss_Data.groupby(['Segment','Category'])['Quantity']

In [92]:
print(SegmentOfficeSupplies.get_group(('Consumer','Furniture')).agg(np.sum))
print(SegmentOfficeSupplies.get_group(('Corporate','Furniture')).agg(np.sum))
print(SegmentOfficeSupplies.get_group(('Home Office','Furniture')).agg(np.sum))

1373
849
430